*.pyc
*.*~
*.swp
*.swo
*.sqlite*
settings_local.py
local_settings.py
Thumbs.db
.DS_Store
.project
.pydevproject
.installed.cfg
.coverage
coverage/
django-test-coverage
testrecorder
buildout
bin/buildout
gert/media/uploads
gert/django
.idea/*
env/*
gert/media/cache
