{% extends "home.html" %}

{% block extra_ga %}
    {% if form.is_valid %}
        _gaq.push(['_trackEvent', 'click', 'chance', 'address', '{{data.address}}']);
    {% endif %}
{% endblock %}

{% block output %}
    {% if form.is_valid %}
        {% if data.lat %}
            <div id="img-block" class="span2">
                <img src="http://maps.google.com/maps/api/staticmap?center={{ data.lat }},{{ data.lng }}&markers={{ data.lat }},{{ data.lng }}&zoom=16&size=200x200&sensor=false" />
            </div>
            <div class="span8">
                <h4 id="place-block">{{ data.place }}</h4>
                <div>
                    {% include "_chance.html" %}
            </div>
        {% else %}
            Sorry, we cannot find coordinates of this address.
        {% endif %}
    {% endif %}
{% endblock %}