{% extends "home.html" %}

{% block extra_ga %}
    {% if form.is_valid %}
        _gaq.push(['_trackEvent', 'click', 'heatmap', 'address', '{{ data.address }}']);
    {% endif %}
{% endblock %}

{% block output %}
    {% if form.is_valid %}
        {% if data.lat and data.lng %}
            <div id="img-block" class="span2">
                <img src="http://maps.google.com/maps/api/staticmap?center={{ data.lat }},{{ data.lng }}&markers={{ data.lat }},{{ data.lng }}&zoom=16&size=200x200&sensor=false" />
            </div>
            <div class="span8">
                <h4 id="place-block">{{ data.place }}</h4>
                <div id="output-text">
                    {% include "_chance.html" %}
                </div>
            <div class="span8" id="block-share">
              <strong><p>Share:</p></strong>
                <div>
                    <p id='share-middle-text'>Check out parkroulette.com for parking tickets estimation in San Francisco</p>
                </div>
                     <div class="span3" id="share-middle">
                      <a href="javascript:void(0)" onclick="fb_top('fb-middle-link','#share-middle-text')" id="fb-middle-link" target="_blank">
                          <img src="/static/img/btn_facebook.png" width="16" height="16"></a>
                      <a href="javascript:void(0)" onclick="twitter_top('tweeter-middle-link','#share-middle-text')" id="tweeter-middle-link" target="_blank">
                         <img src="/static/img/btn_twitter.png" width="16" height="16" ></a>
                      <a href="javascript:void(0)" onclick="googleone_top('googleone-middle-link')" id="googleone-middle-link" target="_blank">
                         <img src="/static/img/btn_google_plusone.png" width="16" height="16" ></a>
                     </div>

            </div>
            <div class="span8 share42init" style="text-align: center;">

            </div>
                <div class="row-fluid" id="output-table">
                    <div class="span6">
                        <h5>Tickets ({{ data.tickets_heatmap_count }})</h5>
                        <table class="table table-slim table-bordered" id="tickets-heatmap">
                            {% with data.tickets_heatmap as heatmap %}{% include "_heatmap.html" %}{% endwith %}
                        </table>
                    </div>
                    <div class="span6">
                        <h5>Patrols ({{ data.paths_heatmap_count }})</h5>
                        <table class="table table-slim table-bordered" id="paths-heatmap">
                            {% with data.paths_heatmap as heatmap %}{% include "_heatmap.html" %}{% endwith %}
                        </table>
                    </div>
                </div>
            </div>
           <script>
            var heatmap_options = {
                colorArray : [
                    "#63BE7B",
                    "#FBE983",
                    "#F8696B"
                ],
                nullColor: "#63BE7B",
                readValue : function(e) {
                    return e[0].childNodes[0].text
                }
            }
                $("#tickets-heatmap td").hottie(heatmap_options);
                $("#tickets-heatmap th.column-total").hottie(heatmap_options);
                $("#tickets-heatmap th.row-total").hottie(heatmap_options);

                $("#paths-heatmap td").hottie(heatmap_options);
                $("#paths-heatmap th.column-total").hottie(heatmap_options);
                $("#paths-heatmap th.row-total").hottie(heatmap_options);
            </script>
        {% else %}
            Sorry, we cannot find coordinates of this address.
        {% endif %}
    {% endif %}
{% endblock %}