{% extends "home.html" %}

{% block output %}
    {% if lat and lng %}
        <div id="img-block" class="span2">
            <img src="http://maps.google.com/maps/api/staticmap?center={{ lat }},{{ lng }}&markers={{ lat }},{{ lng }}&zoom=16&size=200x200&sensor=false" />
        </div>
        <div class="span8">
            <h4 id="place-block">{{ place }}</h4>
            <div class="row-fluid">
                <div class="span6">
                    <h5>Data by laws</h5>
                    <table class="table table-slim table-bordered" id="tickets-heatmap">
                        <thead>
                        {% for days in tickets_heatmap|slice:":1" %}
                            <tr>
                                {% for name in days %}
                                    <th>{{ name }}</th>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </thead>
                        <tbody>
                        {% for hour_data in tickets_heatmap|slice:"1:" %}
                            <tr class="stats-row">
                                {% for day_data in hour_data %}
                                    {% if forloop.first %}
                                        <th class="stats-title">{{ day_data }}</th>
                                    {% else %}
                                        <td>{{ day_data }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="span6">
                    <h5>Data by patrols</h5>
                    <table class="table table-slim table-bordered" id="paths-heatmap">
                        <thead>
                        {% for days in paths_heatmap|slice:":1" %}
                            <tr>
                                {% for name in days %}
                                    <th>{{ name }}</th>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </thead>
                        <tbody>
                        {% for hour_data in paths_heatmap|slice:"1:" %}
                            <tr class="stats-row">
                                {% for day_data in hour_data %}
                                    {% if forloop.first %}
                                        <th class="stats-title">{{ day_data }}</th>
                                    {% else %}
                                        <td>{{ day_data }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script>
            $("#tickets-heatmap td").hottie({
                colorArray : [
                    "#63BE7B",
                    "#FBE983",
                    "#F8696B"
                ]
            });

            $("#paths-heatmap td").hottie({
                colorArray : [
                    "#63BE7B",
                    "#FBE983",
                    "#F8696B"
                ]
            });
        </script>
    {% else %}
        Sorry, we cannot find coordinates of this address.
    {% endif %}
{% endblock %}