{% extends "base.html" %}

{% block extra_js %}
<script>
    $(function(){
        $('.action').click(function(){
            var $this = $(this);
            $('#search-form').ajaxSubmit({
                url: $(this).data('url'),
                type: 'post',
                beforeSend: function(){
                    $this.addClass('loading');
                    $('.action').attr("disabled", "disabled")
                },
                success: function(data) {
                    $('#output-block').html(data['html'])
                },
                error: function(jqXHR, textStatus, errorThrown){
                    $('#output-block').html('Sorry, unexpected error')
                },
                complete: function() {
                    $('.action').removeAttr("disabled");
                    $this.removeClass('loading');
                }
            })
        })
    })
</script>
{% endblock %}
{% block content %}

    <div class="well">
        <div class="row">
          <div class="span7">
            <h3>Calculate the chance you will get a parking ticket at any address in San Francisco.</h3>
            <p>Or just find out what the parking laws are at any address. Based on public records of actual tickets.</p>

            <br>
            <form id="search-form">
                {{ form.text.label }}<br/>
                {{ form.text }}
                <div class="row">
                    <div class="span1">
                        {{ form.week_day.label }}<br/>
                        {{ form.week_day }}
                    </div>
                    <div class="span1">
                        {{ form.from_time.label }}<br/>
                        {{ form.from_time }}
                    </div>
                    <div class="span1">
                        {{ form.to_time.label }}<br/>
                        {{ form.to_time }}
                    </div>
                </div>
              <br>
              <input id="chance-button" data-url="{% url "get-chance" %}" class="action btn btn-warning" type="button" value="Chance of ticket" />
              <input id="laws-button" data-url="{% url "get-laws" %}" class="action btn btn-warning" type="button" value="Tell me the laws" />
            </form>
          </div>
          <div class="offset2 span2 hidden-phone">
            <img src="/static/no-parking.png">
          </div>
        </div>
    </div>

    <div class="row-fluid" id="output-block">
      <div id="img-block" class="span2">
          {% with lng=coordinates.0  lat=coordinates.1 %}

          {% endwith %}
      </div>
      <div class="span8">
          <h4 id="place-block">{{ place }}</h4>
          <div id="output-block">
          </div>
      </div>
    </div>
{% endblock %}