{% extends "base.html" %}
{% block extra_js %}

{% endblock %}
{% block content %}

  <div class="well">
    <div class="row">
      <div class="span7">
        <h3>Calculate the chance you will get a parking ticket at any address in San Francisco.</h3>
        <p>Or just find out what the parking laws are at any address. Based on public records of actual tickets.</p>

        <br><br>

        <form>
          <label>Type your parking address:</label>
          <input type="text" name="address" placeholder="f.e. 1234 Market st" value="{{ address|default:"" }}" />
          <br>
          <input class="btn btn-warning" type="submit" value="Chance of ticket" />
          <input class="btn btn-warning" type="submit" value="Tell me the laws" />
      </form>
     </div>
     <div class="offset2 span2 hidden-phone">
       <img src="/static/no-parking.png">
     </div>
   </div>
  </div>


    
    {% if address %}
        {% if coordinates %}
            <div class="row-fluid">
              <div class="span2">
                  {% with lng=coordinates.0  lat=coordinates.1 %}
                      <img src="http://maps.google.com/maps/api/staticmap?center={{ lat }},{{ lng }}&markers={{ lat }},{{ lng }}&zoom=16&size=200x200&sensor=false" />
                  {% endwith %}
              </div>
              <div class="span8">
                  <h4>{{ address }}
                  <h4>
                  {% if frequency %}
                  Based on statistical information, there is a <strong>{{ frequency|floatformat:"-2" }}%</strong> chance you will get a ticket if you park illegally at the same address at the same time of day and same day of week.
                  {% else %}
                  Sorry, we cannot provide information for this address.
                  {% endif %}
                  </h4>
              </div>
              
            </div>

            <p>In 2012, the top reasons for a parking citation within 10 meters of {{ address}} on Friday mornings between 10am and 11am was: </p>

            <table class="table table-bordered table-striped">
                {% for num, id, reason, price, street, etc in citations %}
                <tr>
                    <td>{{ num }}</td>
                    <td>{{ id }}</td>
                    <td>{{ reason }}</td>
                    <td>{{ price }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <h2>Not found coordinates</h2>
        {% endif %}
    {% endif %}
{% endblock %}