{% extends "home.html" %}

{% block well %}
<div class="row-fluid">
  <div class="span8">
    <div class="row-fluid" style="padding-top:15px">
      <div class="span3 ">
        <label>
          &nbsp;
        </label>
      </div>
      <div class="span6">
        {% for error in user_form.errors %}
        <div class="alert alert-error" style="margin-bottom: 5px">
          <button type="button" class="close" data-dismiss="alert">
            ×
          </button>
          {{ user_form.email.errors.as_text }}
        </div>
        {% endfor %}
      </div>
      <div class="span3 ">
        <label>
          &nbsp;
          <br>
        </label>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3 ">
        <label>
          &nbsp;
        </label>
      </div>
      <div class="span6">
        <form action="/subscribe/" method="post">
          {% csrf_token %}
          <label>
            Leave us you e-mail:
          </label>
          {{ user_form.email }}
        </div>
        <div class="span3 ">
          <label>
            &nbsp;
            <br>
          </label>
          <input type="submit" type="submit" class="btn btn-block" value="Submit">
        </form>
      </div>
    </div>
  </div>
  <div class="pull-right span4">
    <img src="/static/no-parking.png
" class="pull-right hidden-phone " style="width:30%">
  </div>
</div>
{% endblock %}