body {
    padding-top: 20px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.error-msg {
    color: red;
}

.small-widget {
    width: 80px;
}

.table-slim td, .table-slim th {
    padding: 0 3px;
}

.brand small {
    font-size: 14px;
    color: #ccc;
}

.input {
    float: left;
    margin-left: 30px;

}
.params {

    display: block;
    float: left;
}

.params-distance {
    width: 81px;
    float: left;
}

.button {
    float: left;
    width: 325px;

}

.btn {width:100%;}

.share-top {
    line-height: 60px;
}

.header-top {
    width: 225px;
}

.navcontainer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.navcontainer ul li {
    display: inline;
}

.navcontainer ul li a {
   padding: .2em 1em;
}

.twitter-timeline {
    width: 100%;
}

div.twitter {
    margin-top: 29px;
}
div.slides{
margin-bottom: 5px;
margin-top: 0px;
}

@media (max-width: 480px) {
    div.slides    {
    margin-top: 10px;
    }
}
span.slides {
margin-left: 2px;
font-size: 24px;
}
